<div class="social-media">
    <a href="{{ facebook_url }}" class="facebook" target="_blank"><i
        class="fa fa-facebook">Facebook</i></a>
    <a href="https://twitter.com/intracto" class="twitter" target="_blank"><i
        class="fa fa-twitter">Twitter</i></a>
    <a href="https://www.linkedin.com/company/intracto-group-nv" class="linkedin" target="_blank"><i
        class="fa fa-linkedin">Linkedin</i></a>
    <a href="https://www.instagram.com/intractobe/?hl=en" class="instagram" target="_blank"><i
        class="fa fa-instagram">Instagram</i></a>
</div>
